<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Search</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Search Your Favourite Anime</h1>
    <form action="/search" method="POST">
        <input type="text" name="query" placeholder="Enter anime name..." required>
        <button type="submit">Search</button>
    </form>
     <footer>
        <p>Made With ❤️</p>
     </footer>
</body>
</html>