<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="sub-main.css">
</head>
<body>
    <h1>Search Result</h1>
    <div class="container">
        <% animeList.forEach(anime => { %>
          <div class="anime-card">
            <img src="<%= anime.coverImage.large %>" alt="cover">
            <div class="content">
              <h2><%= anime.title.english || anime.title.romaji %></h2>
              <p><%- anime.description || "No description available" %></p>
            </div>
          </div>
        <% }) %>
      </div> 
      <button><a href="/">Go back</a></button>     
    <footer>
        <p>Made With ❤️</p>
     </footer>  
</body>
</html>